// Variables

$website-width: 1280px;
$main-color: #ffbc00;
$light-color: #fff;
$medium-color: #ccc;
$dark-color: #333;
$bg-image: url('../img/showcase2.jpg');


// Icons colors
$html-color: #FE490B;
$css-color: #0373B8;
$js-color: #FBDE24;
$php-color: #627BBF;
$sass-color: #C7568B;
$react-color: #5EDCF7;
$transition-speed: 0.3s;

