@import 'config';
@import 'function';
// General syles 

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Dosis', sans-serif;
}
body{
	line-height: 1.6;
	background: #fff;
}

a{
	text-decoration: none;
	color: $dark-color;
}

ul{
	list-style: none;
}
h2, h3, h4{
	text-transform: uppercase;
}
img{
	width: 100%;
}




@import 'utility_classes';
// Header
@import 'header';
// Main 
@import 'main_div';
//Footer 
@import 'footer';



